/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap'); */


.box {
    /* font-size: 40px; */
    /* font-size: 3em; */
    /* font-family: sans-serif; */


    /* font-family: "Black Ops One", system-ui; */
}

/* .head{
     font-family: "Bungee Tint", sans-serif;
} */





/* @font-face {
    font-family: "myFont";
    src: url('./assets/fonts/orange.ttf');
}



.head {
    font-family: "myFont";
} */


.box{
    font-weight:lighter;
}

@font-face{
    font-family: 'kuchBhi';
    src: url('./assets/fonts/font.ttf')
}


.head{
     /* font-family:fantasy;
     font-weight: 100; */

      /* font-family: 'kuchBhi';
      font-weight: 100; */


/* font-style: oblique; */

/* text-transform: capitalize; */


}


a{
    text-decoration: none;
}


/* .batch{
    text-decoration: blink ;
    background-color: cadetblue;
    line-height: 12px;
} */

p{
    line-height: 20px;
    /* letter-spacing: 3px; */
    /* word-spacing: 10px; */
}

.capital{
    text-transform: uppercase;
    font-size: 40px;

}